.editor {
  position: relative;
  height: 100%;
}

.editor .button.button-format {
  opacity: 0;
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 1;
  transition: opacity 200ms ease-in-out;
}

.editor:hover .button.button-format,
.editor:focus .button.button-format {
  opacity: 1;
}
